* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

div {
  padding: 20px;
}
.container {
  display: grid;
  grid-template-areas:
    " search-bar  search-bar "
    " video-plaer video-list";
}

@media (max-width: 670px) {
  .container {
    grid-template-areas:
      " search-bar "
      " video-plaer"
      "video-list";
  }
}
.search-bar {
  grid-area: search-bar;
}

.video-list {
  grid-area: video-list;
}

.video-list ul {
  width: 600px;
}

.video-list ul li {
  display: flex;
  align-items: center;
}

.video-player {
  grid-area: video-plaer;
}

.telaPlayer {
  width: 80%;
}

/*  */
.segment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-perfilSearch img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.serachIcone {
  display: flex;
  align-items: center;
}

.serachIcone img {
  width: 30px;
}
